@import 'styles/mixins.scss';

.task {
  @include rowFlex();
  @include fullComponent(1);

  & > div {
    margin: -0.1rem auto 0.8rem 1rem;
    text-align: left;
    @include columnFlex();
    @include justifyFlex();
  }
  & h2 { margin: 1rem auto 0 1rem; }
  & > :last-child { margin-right: 0.5rem; }
  .customBgContainer & {
    --blur: 12px;
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
  }
}
