@import 'ui/styles/media.scss';
@import 'ui/styles/text.scss';
@import 'ui/styles/inputs.scss';
@import 'ui/styles/hoverables.scss';
@import 'ui/styles/gradients.scss';

@import 'ui/page.scss';
@import 'ui/popupMessages.scss';
@import 'ui/taskInfo.scss';

@import 'ui/toggler.scss';
@import 'ui/expandableElement.scss';
@import 'ui/segments.scss';

.pageBtn, .hidedUI, input[type="file"], .uploadUI, .uploadSuccess,
.downloadUI, .downloadLink, .historyMonth > [data-used="false"], .completed, .forgotten,
.notifNotAllowed {
  display: none;
}

.dataLine {
  display: flex;
  min-width: var(--fullWidth);
  align-items: baseline;
}
